.social__twit
  img(src=require('../../img/twit.svg'), alt="twitter")
.social__fb
  img(src=require('../../img/fb.svg'), alt="twitter")
.social__inst
   img(src=require('../../img/inst.svg'), alt="twitter")