&__header-menu {
  margin: 0.6875rem 1.25rem 0.5rem 0;
  @media (max-width:709px) {
    order: 1;
  }
  @media (max-width:550px) {
    margin-right: 0;
  }
  .header-menu__item {
    @media (max-width:467px) {
      font-size: 11px;
    }
  }
  .header-menu__dropdown-img {
    @media (max-width:467px) {
      width: 12px;
      img {
        width:10px ;
      }
    }
  }
}