.headers-and-footers__emblem.emblem
  include ../emblem-default/emblem-default
.headers-and-footers__Standart-Nav-Bar.Standart-Nav-Bar
  include ../Standart-Nav-Bar/Standart-Nav-Bar
.headers-and-footers__Standart-Logged-In-Nav-Bar.Standart-Logged-In-Nav-Bar
  include ../Standart-Logged-In-Nav-Bar/Standart-Logged-In-Nav-Bar
.headers-and-footers__Footer-Widgets-and-Copyright-Bar.Footer-Widgets-and-Copyright-Bar
  include ../Footer-Widgets-and-Copyright-Bar/Footer-Widgets-and-Copyright-Bar
.headers-and-footers__footer-creative
  .headers-and-footers__footer-creative-body
    .headers-and-footers__copyright
      .headers-and-footers__copyright-logo
        include ../logo/logo
      p.headers-and-footers__copyright-text Copyright © 2021 Toxin отель. Все права зачищены.
    .headers-and-footers__social.social
      include ../social/social
