.Footer-Widgets-and-Copyright-Bar__Footer-Widgets
    .Footer-Widgets-and-Copyright-Bar__Footer-Widgets-body
      .Footer-Widgets-and-Copyright-Bar__discription
        .Footer-Widgets-and-Copyright-Bar__logo.logo
          include ../logo/logo
        p.Footer-Widgets-and-Copyright-Bar__discription-text Бронирование номеров в лучшем отеле 2021 года по версии ассоциации «Отельные взгляды»
      nav.Footer-Widgets-and-Copyright-Bar__footer-nav
        .Footer-Widgets-and-Copyright-Bar__navigation
          h3.Footer-Widgets-and-Copyright-Bar__title навигация
          ul.Footer-Widgets-and-Copyright-Bar__menu-list
            +footer-menu("О нас","Новости","Служба поддержки","Услуги")
        .Footer-Widgets-and-Copyright-Bar__about-us
          h3.Footer-Widgets-and-Copyright-Bar__title о нас
          ul.Footer-Widgets-and-Copyright-Bar__menu-list
            +footer-menu("О сервисе","Наша команда","Вакансии","Инвесторы")
        .Footer-Widgets-and-Copyright-Bar__support
          h3.Footer-Widgets-and-Copyright-Bar__title Служба поддержки
          ul.Footer-Widgets-and-Copyright-Bar__menu-list
            +footer-menu("Соглашения","Сообщества","Связь с нами")
      form(action="#").Footer-Widgets-and-Copyright-Bar__subscriprion
        h3.Footer-Widgets-and-Copyright-Bar__subscriprion-title подписка
        p.Footer-Widgets-and-Copyright-Bar__subscriprion-text Получайте специальные предложения и новости сервиса
        .subscription-text-field.Footer-Widgets-and-Copyright-Bar__subscription-text-field
          include ../Form-Elements/subscription-text-field/subscription-text-field
.Footer-Widgets-and-Copyright-Bar__Copyright-Bar
  .Footer-Widgets-and-Copyright-Bar__Copyright-Bar-body
    p.Footer-Widgets-and-Copyright-Bar__copyright-text Copyright © 2021 Toxin отель. Все права зачищены.
    .Footer-Widgets-and-Copyright-Bar__social.social
      include ../social/social