&__text--H3 {
// max-width: 186px;
width: 250px;
height: 15px;


font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #1F2041;

}