.Standart-Logged-In-Nav-Bar__body
	.Standart-Logged-In-Nav-Bar__logo.logo
		include ../logo/logo
	nav.Standart-Logged-In-Nav-Bar__header-menu.header-menu
		include ../header-menu/header-menu
	.Standart-Logged-In-Nav-Bar__user.user
		include ../user/user