&__button-registration {
  align-self: center;
  flex-basis: 196px;
  height: 34px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;


  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}