.Standart-Nav-Bar__body
  .Standart-Nav-Bar__logo.logo
    include ../logo/logo
  nav.Standart-Nav-Bar__header-menu.header-menu
    include ../header-menu/header-menu
  button.Standart-Nav-Bar__button-login
    p
      span войти
  button.Standart-Nav-Bar__button-registration зарегистрироваться